html, body {
  min-width: 100%;
  min-height: 100%;
}
.app-wrap{
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.menu, .menu ul {
  display: flex;
  list-style: none;
  padding: 0px;
  height: 64px;
  margin: 0px;
}

.menu .right {
  margin-left: auto;
}

.menu li {
  margin: 0px 12px;
  margin-top: auto;
  margin-bottom: auto;
}
.menu li:first-child {
  margin-left: 0px;
}
.menu li:last-child {
  margin-right: 0px;
}

.menu a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}

.banner {
  width: 100%;
  height: 320px;
  background-image: url('./image/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
}

.banner .content {
  color: #fff;
}

.app-body {
  margin-top: 32px;
}

.container{
  padding: 0px;
}
.row{
  padding: 0px;
  margin: 0px;
}
[class*="col-"] {
  padding: 12px;
}
.container >.row > [class*="col-"] {
  padding: 0px;
}

.body-content-img img{
  width: auto;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.footer {
  margin-top: 32px;
}

@media screen and (max-width: 960px) {
  
}

@media screen and (max-width: 720px) {
  .app-wrap{
    width: 100%;
    margin: 0px;
    padding: 0px 12px;
  }
}